<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	 <connectionStrings>
    <add name="UOVT_HIMSEntities" connectionString="metadata=res://*/Models.HMSDataModel.csdl|res://*/Models.HMSDataModel.ssdl|res://*/Models.HMSDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7UK5U65;initial catalog=UOVT_HIMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>